$red: #f94144ff;
$tangerine: #f3722cff;
$orange: #f8961eff;
$coral: #f9844aff;
$yellow: #f9c74fff;
$green: #90be6dff;
$mediumgreen: #43aa8bff;
$cyan: #4d908eff;
$slate: #577590ff;
$darkblue: #277da1ff;

$black: #000000ff;
$gray: #acacac;
$darkgray: #2b2b2b;
$white: #ffffffff;
