@use 'styles/variables.scss' as *;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('styles/reset.scss');

@mixin flex-center($dir: column) {
    display: flex;
    flex-direction: $dir;
    justify-content: center;
    align-items: center;
}

@mixin wide() {
    width: 100%;
    height: 100%;
}

* {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

html,
body,
main {
    display: flex;
    flex-direction: column;
    @include wide();
    background-color: $white;
    color: $black;
}

section {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

button {
    @include flex-center($dir: column);
    padding: 0.4rem;
}

table {
    border-collapse: collapse;
    border: 2px solid $darkgray;

    th {
        font-weight: 500;
    }

    th,
    td {
        padding: 0.25rem 1rem;
    }

    tr {
        border-bottom: 1.5px solid $darkgray;
    }
}

thead {
    tr {
        background-color: $darkgray;
        color: $white;
    }
}

tbody {
    tr:last-child {
        border-bottom: 3px solid $darkgray;
    }
}

tfoot {
    th {
        border-right: 1.5px solid $darkgray;
        text-align: left;
    }
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
