@use 'styles/variables.scss' as *;

@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('styles/reset.scss');

* {
    font-size: 1rem;
    font-family: $font;
}

html,
body,
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: $white;
    color: $black;
}

section {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
}

table {
    border-collapse: collapse;
    border: 2px solid $darkgray;

    th {
        font-weight: 500;
    }

    th,
    td:not(.list-flex) {
        padding: 0.25rem 1rem;
    }

    tr {
        border-bottom: 0.5px solid $darkgray;
    }
}

thead {
    tr {
        background-color: $darkgray;
        color: $white;
    }

    .btn-container {
        display: flex;
        gap: 0.5rem;
    }

    .btn-container button {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 1.5rem;
        min-height: 1.5rem;
        aspect-ratio: 1 / 1;
        background-color: white;
    }
}

tbody {
    tr {
        height: 1rem;
    }

    tr:last-child {
        border-bottom: 3px solid $darkgray;
    }
}

tfoot {
    th {
        border-right: 1.5px solid $darkgray;
        text-align: left;
    }
}

.timetable {
    tr:nth-of-type(6),
    tr:nth-of-type(12) {
        border-bottom: 2px solid $darkgray;
    }
}

.timetable th,
.timetable td {
    border: 1px solid $darkgray;
}

.list-flex {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0.5rem;
    padding: 0;
    height: stretch;

    span {
        align-self: center;
    }
}
